.li {
  padding: 0.25rem 1rem;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.OptionsOuterDiv {
  position: fixed;
  margin-top: 8px;
}
.ProfileOptions {
  color: black;
  padding: 5px;
  border: 1px solid #ccc;
}

.IconStyling {
  margin-left: 10px;
}
